<div>
  <div class="add-item__list">
    <div *ngFor="let item of filtered()" class="add-item__item" [class.add-item__item--selected]="item.name.toLocaleLowerCase() === cleanInput().toLocaleLowerCase()">
      <div class="add-item__item-name" (click)="handleItemClick(item)">{{ item.name }}</div>
      <div class="add-item__edit-item" (click)="handleItemEditClick(content, item)">
        |
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="add-item__input-wrapper">
    <div class="input-group add-item__search input-group-lg">
      <input type="text" class="form-control" placeholder="Search item..." [(ngModel)]="searchValue" #searchElement>
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-primary" (click)="clearSearch()">&times;</button>
      </div>
    </div>
    <div class="add-item__amount">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <button type="button" class="btn btn-primary" (click)="modifyNextAmount(-1)">-</button>
        </div>
        <input type="number" class="form-control add-item__amount-input" [value]="nextAmount" min="1">
        <div class="input-group-append">
          <button type="button" class="btn btn-primary" (click)="modifyNextAmount(1)">+</button>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-primary btn-lg" (click)="addItem()">Add to shopping list</button>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" class="form-control" placeholder="Item Name" [(ngModel)]="itemToEdit.name">
    </div>
    <div class="form-group">
      <span>Stores</span>
      <div>
        <div *ngFor="let store of getStores()" class="custom-control custom-switch add-item__switch">
          <input type="checkbox" class="custom-control-input" [id]="store.id" (click)="handleStoreClick(store.id)" [checked]="itemToEdit.stores.includes(store.id)">
          <label class="custom-control-label" [for]="store.id">{{ store.name }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="deleteItem(modal)">Delete</button>
    <button type="button" class="btn btn-outline-dark" (click)="saveEdit(modal)">Save</button>
  </div>
</ng-template>
