<div>
  <div class="add-item__list">
    <div *ngFor="let item of filtered()" class="add-item__item" (click)="handleItemClick(item)">{{ item.name }}</div>
  </div>
  <div class="add-item__input-wrapper">
    <div class="input-group  add-item__search">
      <input type="text" class="form-control" placeholder="Search item..." [(ngModel)]="searchValue" #searchElement>
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-primary" (click)="clearSearch()">x</button>
      </div>
    </div>
    <div class="add-item__amount">
      <div class="input-group">
        <div class="input-group-prepend">
          <button type="button" class="btn btn-primary" (click)="modifyNextAmount(-1)">-</button>
        </div>
        <input type="number" class="form-control add-item__amount-input" [value]="nextAmount" min="1">
        <div class="input-group-append">
          <button type="button" class="btn btn-primary" (click)="modifyNextAmount(1)">+</button>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="addItem()">Add to shopping list</button>
    </div>
  </div>
</div>
