/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #3D405B;
  --secondary: #E07A5F;
  --highlight: #81B29A;
  --text: #F4F1DE;
}

body {
  font-size: 1.25em;
}
